<div class="row">
  <div class="col s12">
    <h4 class="grey-text">Government Partners</h4>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <%= image_tag "partners.gif", class: 'responsive-img' %>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4 class="grey-text">Other Partners</h4>
  </div>
</div>

<div class="row">
  <div class="col s12 m3">
    <%= image_tag "c40.png", class: 'responsive-img' %>
  </div>
  <div class="col s12 m3">
    <%= image_tag "bhumi.jpg", class: 'responsive-img' %>
  </div>
  <div class="col s12 m3">
    <%= image_tag "sahaj_logo.png", class: 'responsive-img' %>
  </div>
  <div class="col s12 m3">
    <%= image_tag "cityconnect.jpg", class: 'responsive-img' %>
  </div>
  <div class="col s12 m3">
    <%= image_tag "efi.jpg", class: 'responsive-img' %>
  </div>
</div>

