<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <div class="card-image">
        <%= image_tag(project.image) %>
        <span class="card-title"><%= project.title %></span>
      </div>
      <div class="card-content">
        <p><%= project.description %></p>
        <p><%= project.location.latitude %></p>
        <p><%= project.location.longitude %></p>
      </div>
      <div class="card-action">
        <% if policy(Project).manage? %>
          <%= link_to 'Edit', edit_project_path(project.id) %>
          <%= link_to 'Delete', project_path(project.id),  method: :delete %>
        <% end %>
        <%= link_to 'I\'m in', root_path %>
      </div>
    </div>
  </div>
</div>
