<div class="col s12 m4">

  <div class="card project-overview" data-url="<%= project_path(project.id) %>">
      <div class="card-content">
        <span class="card-title truncate project-title"><%= project.title %></span>
        <p class="flow-text project-description"><%= project.description %></p>
        <span class="badge white-text <%= css_class_for_project_status(project.status) %>"><%= project.status.humanize %></span>
      </div>
      <div class="card-action">
          <div class="row">
            <div class="stat-box">
              <% if project.volunteers.include? current_user %>
                <%= link_to 'Leave!', project_volunteership_path(project, current_user), method: :delete, class: 'action-link' %>
              <% else %>
                <%= link_to 'Join!', project_volunteerships_path(project), method: :post , class: 'action-link' %>
              <% end %>
            </div>
            <div class="stat-box">
              <div class="volunteer-count">
                <i class="tiny material-icons">pan_tool</i>
                <%= project.volunteers.count %>
              </div>
              <div>
                <span class="">volunteers</span>
              </div>
            </div>
          </div>
        <!-- <div class="right-align">
          <% if current_user and policy(Project).manage? %>
            <%= link_to 'Edit', edit_project_path(project.id) %>
            <%= link_to 'Delete', project_path(project.id),  method: :delete %>
          <% end %>
        </div> -->
      </div>
  </div>

</div>
