<div class="row">
  <div class="col s12 framed-form">
    <%= form_for project, html: { multipart: true } do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :title, value: project.title %>
          <%= f.label :title %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, class: "materialize-textarea" %>
          <%= f.label :description %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :plan, class: "materialize-textarea" %>
          <%= f.label :plan %>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>Image Before</span>
            <%= f.file_field :image_before %>
          </div>
          <div class="file-path-wrapper">
            <%= text_field_tag '', project.image_before_url.to_s, class: "file-path" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>Image After</span>
            <%= f.file_field :image_after %>
          </div>
          <div class="file-path-wrapper">
            <%= text_field_tag '', project.image_after_url.to_s, class: "file-path" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.select(:status) do %>
            <% Project.statuses.to_a.each do |status| -%>
              <%= content_tag(:option, status.first.humanize, value: status.first, selected: project.status == status.first) %>
            <% end %>
          <% end %>
          <%= f.label :status %>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :specifications %>
          </div>
        </div>
        <% project.specifications&.each do |name, value| %>
          <div class="row">
            <div class="input-field col s12 m6">
              <%= text_field_tag 'project[specifications][][name]', '', placeholder: 'Property Name E.g. Area (in acre)', value: name  %>
            </div>
            <div class="input-field col s12 m6">
              <%= text_field_tag 'project[specifications][][value]', '', placeholder: 'Property Value E.g. 2', value: value %>
            </div>
          </div>
        <% end %>
        <% (1..(6 - remaining_attributes_count(project))).each do |i| %>
          <div class="row">
            <div class="input-field col s12 m6">
              <%= text_field_tag 'project[specifications][][name]', '', placeholder: 'Property Name E.g. Area (in acre)'  %>
            </div>
            <div class="input-field col s12 m6">
              <%= text_field_tag 'project[specifications][][value]', '', placeholder: 'Property Value E.g. 2' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :location, readonly: "", class: "black-text" %>
          <%= f.label :location %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= text_field_tag :location_name, '', readonly: '', class: 'black-text' %>
          <%= label_tag :location_name %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p>
            <%= f.check_box :is_active %>
            <%= f.label :is_active %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="actions col s12">
          <%= f.submit action_text, class: 'waves-effect waves-light btn' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
