<div class="row">
  <h2 class="col offset-s3">Forgot your password?</h2>


  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

  <div class="section">
    <div class="field col s6 offset-s3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
  <div class="section">
    <div class="actions col offset-s3">
      <%= f.submit "Send me reset password instructions", class: 'waves-effect waves-light btn' %>
    </div>
  </div>

  <% end %>
  <div class="section">
    <div class="col s6 offset-s3">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
