<ul id="<%= id %>" class="<%= class_names %>" >
  <li class="<%= menu_active?('home') ? 'active' : nil %>" >
    <%= link_to 'Home', root_path %>
  </li>
  <li class="<%= menu_active?('about') ? 'active' : nil %>" >
    <%= link_to 'About', page_path('about') %>
  </li>
  <li class="<%= menu_active?('contact') ? 'active' : nil %>" >
    <%= link_to 'Contact Us', page_path('contact') %>
  </li>
  <% if user_signed_in? %>
    <% if policy(User).manage? %>
      <li class="<%= menu_active?('volunteers') ? 'active' : nil %>" >
        <%= link_to('Volunteers', volunteers_path) %>
      </li>
    <% end %>
    <li class="<%= menu_active?('my_projects') ? 'active' : nil %>" >
      <%= link_to('My Projects', user_projects_path(current_user)) %>
    </li>
    <li class="<%= menu_active?('logout') ? 'active' : nil %>" >
     <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
  <% else %>
    <li class="<%= menu_active?('login') ? 'active' : nil %>" >
     <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
</ul>
