<ul id="<%= id %>" class="<%= class_names %>" >
  <li><%= link_to 'Home', root_path %></li>
  <% if user_signed_in? %>
    <% if policy(User).manage? %>
      <li>
        <%= link_to('Volunteers', volunteers_path) %>
      </li>
    <% end %>
    <li>
      <%= link_to('My Projects', user_projects_path(current_user)) %>
    </li>
    <li>
     <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
  <% else %>
    <li>
     <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
</ul>
