<ul id="initiatives-<%= id %>" class="dropdown-content">
  <li><%= link_to 'SWaSM', page_path('swasm') %></li>
  <li><%= link_to '...', '#' %></li>
</ul>
<ul id="<%= id %>" class="<%= class_names %>" >
  <li class="<%= menu_active?('initiatives') ? 'active' : nil %>" >
    <%= link_to "Initiatives<i class='material-icons right'>arrow_drop_down</i>".html_safe, '#!', class: 'dropdown-button', 'data-activates': "initiatives-#{id}" %>
  </li>
  <% if user_signed_in? %>
    <% if policy(User).manage? %>
      <li class="<%= menu_active?('volunteers') ? 'active' : nil %>" >
        <%= link_to('Volunteers', volunteers_path) %>
      </li>
    <% end %>
    <li class="<%= menu_active?('my_projects') ? 'active' : nil %>" >
      <%= link_to('My Projects', user_projects_path(current_user)) %>
    </li>
    <li class="<%= menu_active?('profile') ? 'active' : nil %>" >
     <%= link_to('Profile', user_path(current_user)) %>
    </li>
    <li class="<%= menu_active?('logout') ? 'active' : nil %>" >
     <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
  <% else %>
    <li class="<%= menu_active?('login') ? 'active' : nil %>" >
     <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
</ul>
