<!DOCTYPE html>
<html>
  <head>
    <title>Chennai Smart City Portal &amp; Platform</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">
            <%= image_tag "govt_logo.png", class: 'responsive-img left', id: 'govt_logo' %>
            <div id="logo-text-wrapper" class="hide-on-small-only">
              <div class="valign-wrapper">
                <span id="logo-text">Chennai Smart City </span>
              </div>
              <div class="valign-wrapper">
                <span id="tag-line">community engagement platform</span>
              </div>
            </div>
          </a>
          <a href="#!" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          <%= render partial: 'layouts/navigations', locals: { id: "nav", class_names: "right hide-on-med-and-down" } %>
          <%= render partial: 'layouts/navigations', locals: { id: "nav-mobile", class_names: "side-nav" } %>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="notification card-panel grey darken-4 white-text right z-depth-4" id="<%= key %>">
            <%= value %>
            <i class="close material-icons">close</i>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5>SWASM Initiative</h5>
            <p class="grey-text text-lighten-4">To restore the pond around Chennai city</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5>Links</h5>
            <ul class="links">
              <li>
                <%= link_to 'Partners', page_path('partners') %>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col l6 s12">
            <h5>Contact Us</h5>
            <p class="grey-text text-lighten-4">chennaiwatermission@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright
        </div>
      </div>
    </footer>
  </body>
  <script src="//maps.googleapis.com/maps/api/js?key=<%= Rails.configuration.google_api_key %>&libraries=places" data-turbolinks-track="reload"></script>
</html>
