<!DOCTYPE html>
<html>
  <head>
    <title>SmartCity</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">SWASM</a>
        <a href="#!" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <%= render partial: 'layouts/navigations', locals: { id: "nav", class_names: "right hide-on-med-and-down" } %>
        <%= render partial: 'layouts/navigations', locals: { id: "nav-mobile", class_names: "side-nav" } %>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <script src="http://maps.googleapis.com/maps/api/js?key=<%= Rails.configuration.keys['google_api_key'] %>&libraries=places" data-turbolinks-track="reload"></script>
</html>
