<div class="row">
<h2 class="col s6 offset-s3">Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="field col s6 offset-s3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
  <div class="row">
    <div class="field col s6 offset-s3">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>
  <div class="row">
    <div class="field col s6 offset-s3">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="actions col s3 offset-s3 left">
      <%= render "users/shared/links" %>
    </div>
    <div class="col s3">
      <%= f.submit "Sign up", class: 'waves-effect waves-light btn' %>
    </div>
  </div>

  <!-- <div class="row">
    <div class="actions col s4 offset-s3">
      <%= render "users/shared/links" %>
    </div>
  </div>
 -->
<% end %>
</div>
